html, body, div {
  height: 100%;
}

#fourOhFour {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  font-family: Roboto;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  line-height: 1.4;
  color: #484848;

  div {
    flex: 1;
  }

  h1 {
    font-size: 200px;
    margin: 0;
  }

  .hero {
    max-width: 100%;
    border-radius: 10px;
  }

  a {
    background: linear-gradient(52deg, #9012fe 0%, #f233b9 100%);
    font-size: 16px;
    border-radius: 300px;
    padding: 12px 35px;
    color: #fff;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    margin: 20px 0;
    width: 300px;
    max-width: 100%;
    display: inline-block;
    clear: both;
  }
}