.serviceLogo {
  margin: 20px 0; /* add some breathing room */
  transition: transform 0.3s; /* add a nice little animation when hovered */

  &:hover {
    transform: scale(2);  /* animate it on a little zoom */
  }
}