/* a docked alerter up at the top right corner */
  /* use a custom html <alert> tag with one of the support classes */

  alert {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: -150px;
    padding: 8px;
    border-radius: $borderRadiusLG;
    padding-left: 60px;
    overflow: hidden;
    color: #fff;
    background: red;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: all 0.3s;

    &.active {
      top: 15px;
    }

    &:hover {
      box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    }
}

alert.success {
  background: $success;
  background: linear-gradient(135deg, $successAlt 0%, $success 100%);
}


alert.info {
  background: $info;
  background: linear-gradient(135deg, $info 0%, $infoAlt 100%);
}


alert.error {
  background: $error;
  background: linear-gradient(135deg, $error 0%, $errorAlt 100%);
}