button:focus,
.btn {
  outline: none;
}

button,
[type="submit"],
.btn {
  border: 1px solid $grey;
  padding: 7px 20px;
  background: none;
  color: $light;
  transition: all 0.3s linear;
}

.round {
  border-radius: $borderRadiusLG;
}

.noBorder {
  border: 0;
}

.noShadow {
  text-shadow: none;
}

@each $name in $color_names {
  $i: index($color_names, $name);

  button.#{$name},
  [type="submit"].#{$name},
  .btn.#{$name} {
    border-color: nth($color_vars, $i);
    text-shadow: 0 1px 2px nth($color_vars, $i);
    background: nth($color_vars, $i);
    background: linear-gradient(
      135deg,
      nth($color_vars, $i) 0%,
      lighten(nth($color_vars, $i), 10%) 100%
    );
  }
}
