@each $name in $color_names {
  $i: index($color_names, $name);

  /* backgrounds */
  .bg--#{$name} {
    background: nth($color_vars, $i);
  }

  /* fonts */
  .font--#{$name} {
    color: nth($color_vars, $i);
  }

  /* borders */
  .bordered--#{$name} {
    border-color: nth($color_vars, $i);
  }
}