table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid $grey !important;
}

th, td {
  padding: 5px;
  vertical-align: top;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $grey;
}

.table-bordered {
  border: 1px solid $grey;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $offLight;
}

.table-hover tbody tr {
  background-color: $offLight;
}
